* {
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 230, 0);
}

.background {
    background-image: url(../images/background.jpg);
    position: fixed;
    filter: blur(25px) saturate(170%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform: scale(1.2);
        /* MUCHO IMPORTANTE beim bluren --> sonst weiße vignette */
    -webkit-filter: blur(25px) saturate(170%);
}

header {
    /*Level 1*/
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin-bottom: 0;
    border-bottom: 5px rgb(239, 219, 0) solid;
    background: linear-gradient(to top,rgba(42, 61, 155, 1) 0%, rgba(36, 201, 174, 1) 91%);
}

#logoHolder {
    /*Level 2 - header*/
    text-align: center;
}

#actualHeaderHolder {
    /*Level 2 - header*/
    display: flex;
    flex-direction: column;
    background-color: linear-gradient;
}

#title {
    /*Level3-actualHeaderHolder*/
    width: 100%;
    text-align: center;
    color: white;
}

#menuBar {
    /*Level 3 - actualHeaderHolder*/
    background-color: rgba(49, 49, 49, 0.648);
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    padding-left: 3%;
}

#menuLogo {
    width: 10%;
    margin-left: -3%;
    padding: 4px;
}

#menuTitle {
    /*Level 4 - menuBar [ALSO menuObject]*/
    width: 10%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid rgba(193, 193, 193, 0.42);
}

#menuOptionBar {
    /*Level 4 - menuBar [ALSO menuObject]*/
    display: flex;
    flex-direction: row;
    width: 100%;
}

#darkmodeButton {
    /*Level3-siteBodyp*/
    transform: scale(1.2);
}

.menuObject {
    /*Level5 - menuOptionBar [BOTH menuTitle and menuOption]*/
    border-right: 1px solid rgba(193, 193, 193, 0.42);
    color: rgb(220, 220, 220);
    font-size: 20px;
}

.menuOption {
    /*Level 5 - menuOption Bar AND Level 4 - menuBar*/
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.siteBody {
    /*Level1*/
    background-color: rgba(56, 56, 56, 0.742);
    color: rgb(240, 240, 240);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dataTable {
    /*Level 3 - p //only on data site*/
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
    margin-bottom: 2%;
}

.dataTable td {
    /*Level 4 .dataTable //only on data site*/
    padding: 8px;
}

.siteBody h1 {
    /*Level 2 - siteBody*/

}

.siteBody h2 {
    /*Level 2 - siteBody*/

}

.siteBody p {
    /*Level 2 - siteBody*/
    
}